<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TJWS</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="sidebar :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <!--<nav th:replace="topbar :: topbar">-->

            <!--</nav>-->
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <hr class="sidebar-divider d-none d-md-block">
                <!-- Page Heading -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-modal"
                        id="add-camera-btn">Thêm camera
                </button>

                <hr class="sidebar-divider d-none d-md-block">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Camera</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Mô tả</th>
                                    <th>Vị trí</th>
                                    <th>Đường</th>
                                    <th>Thứ tự</th>
                                    <th>Tình trạng</th>
                                    <th>Thao tác</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>
                                <tbody id="show-camera-list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Create modal -->
                <div id="create-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thêm Camera</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="add-camera-form">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="txtDescription">Mô tả</label>
                                        <textarea type="text" class="form-control" id="txtDescription" required
                                                  placeholder="1234 Main St"  maxlength="255" minlength="6"></textarea>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-9">
                                            <label for="txtStreet">Đường</label>
                                            <select id="txtStreet" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="txtOrder">Thứ tự</label>
                                            <input type="number" class="form-control" id="txtOrder" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-5">
                                            <label for="txtLatitude">Vĩ độ</label>
                                            <input type="number" step="any" class="form-control" id="txtLatitude" required>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for="txtLongitude">Kinh độ</label>
                                            <input type="number" step="any" class="form-control" id="txtLongitude" required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="search-btn">Bản đồ</label>
                                            <button type="button" class="btn btn-primary form-control" id="search-btn">
                                                Định vị
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="map" class="form-control" style="height: 500px; width: 100%"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit modal -->
            <div id="edit-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Chỉnh sửa camera</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="edt-camera-form">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="edtId">Id</label>
                                    <input type="text" class="form-control" id="edtId" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="edtDescription">Mô tả</label>
                                    <textarea type="text" class="form-control" id="edtDescription"
                                              placeholder="1234 Main St" required  maxlength="255" minlength="6"></textarea>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-9">
                                        <label for="txtStreet">Đường</label>
                                        <select id="edtStreet" class="form-control">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="edtOrder">Thứ tự</label>
                                        <input type="number" class="form-control" id="edtOrder" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="edtLatitude">Vĩ độ</label>
                                        <input type="number" step="any" class="form-control" id="edtLatitude" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="edtLongitude">Kinh độ</label>
                                        <input type="number" step="any" class="form-control" id="edtLongitude" required>
                                    </div>
                                </div>
                                <div class="form-group" id="edtActive-parent">
                                    <input id="edtActive" type="checkbox" data-on="Đang hoạt động"
                                           data-off="Ngừng hoạt động"
                                           data-toggle="toggle" data-width="200">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="map-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="map-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div id="modal-map" class="form-control" style="height: 500px; width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="footer :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="logout :: logout">
</div>


<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script type="application/javascript" src="/js/admin-index.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
<script type="application/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
<script type="application/javascript" src="/js/gg-map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsQvoX3tvrOxlSA0Xv77ptHcTK9tGm5yA&callback=initMap"
        async defer></script>
</body>

</html>